/*classes*/
/*centered*/
div.centered{
  display: block;
  width: 50%;
  margin: 0px auto;
}

.centered p,h1,h2,h3,h4,h5,h6{
  text-align: center;
}

.centered img{
  display: block;
  margin: auto;
}

img.centered{
  display: block;
  margin: auto;
}

/*Font formating*/
p.normal, h1.normal, h2.normal, h3.normal, h4.normal, h5.normal, h6.normal{
  font-style: normal;
}

p.italic, h1.italic, h2.italic, h3.italic, h4.italic, h5.italic, h6.italic {
  font-style: italic;
}

p.oblique, h1.oblique, h2.oblique, h3.oblique, h4.oblique, h5.oblique, h6.oblique{
  font-style: oblique;
}

/*Use this classes when centering is specific to one kind of thing*/
.searchbox-centered input{
  display: inline-block;
  margin: auto;
  vertical-align: middle;
}

/*Input text boxes of different sizes*/
input[type="Text"].l-input-textbox{
  width: 200px;
  height: 45px;
  font-size: 20px;
}

input[type="Text"].m-input-textbox{
  width: 400px;
  height: 45px;
  font-size: 20px;
}

input[type="Text"].l-input-textbox{
  width: 600px;
  height: 45px;
  font-size: 20px;
}

/*Imgs of different sizes*/
.icon-img img, input[type="Image"]{
  width: 40px;
  height: 40px;
}

img.s-size-image{
  width: 15%;
}

/*dropdown buttons*/
.dropdown{
  position: relative;
}

.dropbtn{
  background-color: rgba(1, 1, 1, 0.1);
  color: white;
  padding: 16px;
  font-size: 14px;
  width: 100px;
  height: 45px;
  border: none;
  cursor: pointer;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  margin-top: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover{
  background-color: #f1f;
}

.dropdown:hover .dropdown-content{
  display: block;
}


.dropdown:hover .dropbtn{
  background-color: #3e8;
}

.container {
    position: relative;
    width: 400px;
    overflow:visible; /*To get your parent to respect the floated divs*/
}

.one, .two, .three {
    position: relative;
    float: left; /*To get them next to each other if all else fails*/
}

/*IDs*/
/*presentation*/
#presentation h2{
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 0px;
}

#presentation p{
  font-family: serif, "Times New Roman", Times;
  margin-top: 0px;
}

/*main image*/
#main-image{
  width: 350px;
  height: 400px;
}

/*Search Bar*/
#search-type{
  height: 50px;
  float: left;
}

#search-bar{
  width: 550px;
}

#searching-method{
  width: 40%;
  padding-bottom: 0px;
  margin-top: 20px;
}

#search-bar{
  margin-bottom: 100px;
}

/*Information-box is the wikipedia like box that will contain most of the information about the character*/
#information-box img{

}


/*flip card animation */
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

	border: 1px solid #ccc;
    border-radius: 10px;
}

	.flip-container:hover .flipper,
  .flip-container.hover .flipper {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 427px;
}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;

  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}


#fade-button {
        width: 50px;
        height: 50px;
        border: 2px solid black;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.25);
}

#fade-button:hover{
    background-color: rgba(0, 0, 0, 0.50);
}

#fade-button p{
    color: black;
    font-size: 10px;
    text-align: center;
}

.front {
	/*background: url(http://davidwalsh.name/demo/dwflip.jpg) 0 0 no-repeat;*/
	z-index: 2;
    border: 5px solid black;
    border-radius: 10px;
}

.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);

	background: #f8f8f8;
    border-radius: 10px;
}

.front .name {
	font-size: 2em;
	display: block;
	background: rgba(33, 33, 33, 0.9);
	color: #f8f8f8;
	font-family: Courier;
	padding: 5px 10px;
	border-radius: 5px;
	left: 5%;
	text-shadow: 0.1em 0.1em 0.05em #333;

	/*-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
	transform: rotate(-20deg);*/
}

.back-logo {
	position: absolute;
	top: 40px;
	left: 90px;
	width: 160px;
	height: 117px;
	/*background: url(http://davidwalsh.name/demo/logo.png) 0 0 no-repeat*/
}

.back-title {
	font-weight: bold;
	color: #00304a;
	top: 180px;
	left: 0;
	right: 0;
	text-align: center;
	text-shadow: 0.1em 0.1em 0.05em #acd7e5;
	font-family: Courier;
	font-size: 2em;
}

.back p {
	top: 2px;
	left: 0;
	right: 0;
	text-align: center;
	padding: 0 20px;
  font-family: arial;
  line-height: 2em;
}
